:root {
    --blush:rgb(235, 202, 218); 
    --light: #f7eeec; 
    --dark1: #7d7d8a;
    --dark2: rgb(112, 112, 131);
}

body {
    background: url(images/pinklight-background.jpg)no-repeat center fixed;
    background-size: cover;
    font-size: 18px; 
    margin: 8px; 
    font-family: 'Playfair Display', serif;
}

nav {
/*nav bar*/ 
    background-color: var(--blush); 
    position:fixed; 
    top:2%; 
    width:100%;
    z-index:1; 
}

h4.navbutton {
/*nav buttons */ 
    font-size:1.5em; 
    background-color: var(--dark1); 
    border:2px solid var(--light); 
    color: var(--blush); 
    text-decoration:none; 
    border-radius: 50%; 
    box-shadow:1px 1px 3px grey;  
    padding:2%;   
    display: inline-block; 
    transition: all 1s ease-in-out; 
    margin:0 20px;  
}
.navbutton:hover{
    cursor:pointer;
    transform: scale(1.5);
    background-color: var(--dark2); 
    color: var(--light);  
}
h1 {
/*Amanda Morgan*/ 
    color: var(--blush); 
    background-color: rgb(112, 112, 131, .5); 
    font-size:3em; 
    text-align: center; 
    margin-top: 200px;
    width: 100%; 
    padding: 2%; 
    margin-bottom: 10%; 
}
aside {
/*This is the profile pic with Bob Ross quote container*/ 
    display: inline-block; 
    width: 300px; 
    height: 300px;    
    position: relative;  
}
#profile-pic { 
/*This is the profile pic container*/ 
    width: 280px;
    height: 280px; 
    position:absolute; 
    top:0; 
    left:20px;    
    border: 2px solid var(--light);    
    display: block; 
    box-shadow: 5px 5px 15px grey; 
    border-radius: 50%; 
}
.overlay {
/*This is the dark grey overlay that shows up on hover*/ 
    position: absolute; 
    top:0; 
    left:20px; 
    height: 280px; 
    width:280px; 
    border-radius:50%; 
    border:2px solid var(--light); 
    background-color: var(--dark2); 
    opacity: 0; 
    transition: all .5s ease-in-out;
}
aside:hover .overlay {
    opacity: 1;
}
.overlay-text{
/*Bob Ross quote*/ 
    color: var(--blush); 
    position:absolute;   
    top:100px;     
    height: 280px; 
    width: 280px;     
    transition: all .5s ease-in-out;
    border-radius: 50%; 
    text-align: center; 
}
.bio-scroll {
/*scrolling textbox about me*/ 
    display: inline-block;
    width: 65%;
    height: 300px;  
    background-color: var(--light); 
    position: relative;   
    overflow:scroll; 
    padding-left:10px; 
    margin-left: 20px; 
}
.projects {
/*section background*/ 
    background-color: rgb(235, 202, 218, 0.5); 
    margin-top: 10%;  
}

#projects {
/* project heading*/ 
    background-color: var(--dark1); 
    color: var(--blush); 
    border-radius: 50%; 
    font-size: 2em; 
    width: 50%; 
    margin: 50px auto; 
    box-shadow: 2px 2px 5px grey; 
    border:2px solid var(--light);   
    padding: 20px; 
    text-align: center;  
}
.flex-element {
/*image background*/
width: 30%; 
text-align:center; 
}
#featureimage {
/*Code Refactor*/ 
    flex:0 0 80%; 
    height:80%; 
    text-align: center; 
    flex-direction:column; 
    align-items: center; 
}
.flex-element img{
/*project pictures*/ 
    width: 90%; 
    height: 60%; 
    border: 2px solid var(--light);  
    box-shadow: 2px 2px 5px grey; 
    border-radius: 50%;   
    filter: grayscale(100%); 
    transition: all 1s ease-in-out;
    text-align:center; 
}
.flex-element img:hover {
    filter:grayscale(0%); 
    cursor:pointer;
    transform: scale(1.25);
}
.flexbox {
/*flex conatiner*/ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    flex-wrap: wrap;   
}
.flexbox h4 { 
/*image header*/ 
    color: var(--dark2); 
    text-align: center; 
    font-size: 1.2em; 
}
.form-container {
    background-color: var(--light);
    width: 50%;   
    position: relative; 
    margin: 10% auto; 
    border-radius: 2%;
    border: 2px solid var(--dark1); 
    padding: 5%;  
}
#contact {
    position: absolute; 
    top: -60px; 
    left: -50px; 
    background-color: var(--dark1); 
    color: var(--blush); 
    border-radius: 60%; 
    box-shadow: 2px 2px 5px grey; 
    border: 2px solid var(--light);
    padding: 20px 10px;   
    width: 30%;
    text-align: center;   
}
form input{ 
    width: 100%; 
    line-height: 2; 
    margin: 10px 5px; 
}
form textarea {
    width: 100%;  
    margin:10px 5px;  
}
#submit {
    width: 50%; 
    background-color: var(--dark1); 
    color: var(--blush); 
    border: 4px outset var(--dark2); 
    font-size:1em; 
}
#submit:hover {
    cursor: pointer;
}
#submit:visited {
    border:4px inset var(--dark2); 
    color: black; 
}
footer {
/*footer container*/ 
    background-color:rgb(235, 202, 218);  
    position:relative;
}
#links {
/*footer text*/ 
    font-size:1em; 
    width: 50%; 
    display:inline;    
}
.etsy-link img{
/*facebook logo*/  
    width: 8%; 
    position: absolute; 
    bottom: 0; 
    right: 0; 
}

.github-link img{ 
    width:8%;  
    position: absolute; 
    bottom: 0; 
    right: 10%; 
} 

@media screen and (max-width: 768px) {
aside {
    display:block; 
    margin:0 auto;  
}
.bio-scroll { 
    display:block; 
    margin: 0 auto; 
}
