:root {
    --blush:rgb(235, 202, 218); 
    --light: rgb(255, 255, 255); 
    --dark1: #747487;
    --dark2: rgb(78, 78, 103);
}
* {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}
body {
    background: url(/images/pinklight-background.jpg)no-repeat center fixed;
    background-size: cover;
}
/* section {
    height: 700px; 
} */
/* Nav Bar  */
.nav-wrapper-custom {
    background-color: var(--blush);
}
.nav-wrapper-custom a{ 
    color: var(--dark2); 
    font-weight:bold; 
    border: 1px solid var(--light); 
    border-radius: 25px;
}
#home-icon {
    border: none; 
}

/* Home Page */
#home-title {
    text-align: center; 
    text-shadow: 2px 2px var(--light);
}
#profile-pic {
    border-radius: 50%;
    position: relative; 
    width: 400px; 
    box-shadow: 3px 3px 6px var(--dark2);
}
.custom-card {
    background-color: rgb(255, 255, 255, .7); 
    padding: 20px; 
    margin: 30px; 
    border-radius: 25px;
}
.overlay {
    background-color: var(--dark1);
    color: var(--blush); 
    border-radius: 50%;
    position: absolute;
    width: 400px; 
    height: 400px; 
    left: 20px; 
    top: 20px; 
    border: 1px solid var(--light); 
    opacity: 0; 
    transition: all .5s ease-in-out;
}
.overlay:hover {
    opacity: 1;
}
.overlay-text {
    position: absolute;
    width: 400px;  
    text-align: center;
    top: 30%; 
    transition: all .5s ease-in-out;
}
.overlay-text p {
    font-size: 24px;
    padding: 5px; 
    font-style: italic; 
}
.card-content-header{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px var(--light);
}
.card-content-header i, .card-content-header h3{
    font-size: 2em;
    padding: 5px; 
}
.card-body p{
    padding: 40px 10px; 
}
#profile-link a{
    color: var(--dark1); 
}
#profile-link {
    padding-left: 10px;
}
#profile-link a:hover {
    color:var(--dark2); 
    text-decoration: underline;
}
/* About Me Page */
#about-me-page h3{
    text-align: center;
    text-shadow: 2px 2px var(--light);
}
.about-me-text {
    background-color: rgb(255, 255, 255, .7); 
    padding: 50px;
    box-shadow: 2px 2px 6px var(--dark2);
    margin: 20px; 
    line-height: 1.6em;
    border-radius: 25px;
}
.about-me-text a{
    color:var(--dark1); 
}
.about-me-text a:hover {
    text-decoration: underline;
    color:var(--dark2); 
}

/* Projects Page */
#projects-page h3 {
    text-align: center;
    text-shadow: 2px 2px var(--light);
}
.custom-card p{
    line-height: 1.5em;
    padding-top: 10px; 
}
.custom-card h4{
    text-align: center;
}
.project-nav {
    text-align: center;
}