:root {
    --blush:rgb(210, 179, 194); 
    --light: rgb(245, 236, 236); 
    --dark1: #747487;
    --dark2: rgb(59, 59, 77);
    --text_shadow: 2px 2px 6px white; 
    --box_shadow: 3px 3px 6px var(--dark2);
}
* {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color:var(--dark2); 
}
main {
    flex: 1 0 auto;
}
body {
    background: url(../images/pinklight-background.jpg)no-repeat center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
section {
    margin-bottom: 200px; 
}


/* Basic Settings */
.custom-header {
    text-align: center; 
    text-shadow: var(--text_shadow); 
}
.custom-card {
    background-color: rgba(255, 255, 255, 0.646); 
    padding: 30px; 
    margin: 30px; 
    border-radius: 25px;
}
.card-body p{
    padding: 20px 0; 
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-link {
    color: var(--dark1); 
}
.custom-link:hover {
    color: var(--dark2); 
    text-decoration: underline;
}


/* Sparkley Effect */
.sparkley {
background: lighten( #2c3e50 , 10% );
color: rgba(255,255,255,1); 
transition: all 0.25s ease;
}
.sparkley:hover {
    color: transparentize( rgba(255,255,255,1),0.8 );
} 


/* Hide */
.hide {
    display:none; 
}

.fadein {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}


/* Nav Bar  */
.nav-wrapper-custom {
    background-image: linear-gradient(to left, white, var(--light));
}
.nav-wrapper-custom a{ 
    color: var(--blush); 
    font-weight:bold;  
}
#home-icon-wrapper {
    border:none; 
}
#home-icon {
    color: var(--blush);
    font-size: 1.5em;  
}


/* Home Page */
#profile-pic {
    border-radius: 50%;
    position: relative; 
    width: 350px; 
    box-shadow: var(--box_shadow); 
}
.overlay {
    background-color: var(--dark1);
    color: var(--blush); 
    border-radius: 50%;
    position: absolute;  
    top: 136px; 
    left: 50%; 
    margin-left: -175px;  
    text-align: center;
    width: 350px; 
    height: 350px;  
    border: 1px solid var(--light); 
    opacity: 0; 
    transition: all .5s ease-in-out;
}
.overlay:hover {
    opacity: 1;
}
.overlay-text {
    position: absolute;
    width: 350px;  
    text-align: center;
    top: 30%; 
    transition: all .5s ease-in-out;
}
.overlay-text p {
    font-size: 24px;
    padding: 5px; 
    font-style: italic; 
}
.card-content-header{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: var(--text_shadow);
}
.card-content-header i, .card-content-header h3{
    font-size: 2.5em;
    padding: 5px; 
}
.card-content-header h3 {
    margin-bottom: 30px; 
    font-size: 1em;
}
#profile-link a{
    color: var(--dark1); 
}
#profile-link a:hover {
    color:var(--dark2); 
    text-decoration: underline;
}


/* Projects Page */
.project-nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.link-container {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 50px;
}
.active-custom {
    background-color: var(--blush);
    color: var(--dark1); 
    border:1px solid var(--dark1); 
    box-shadow: var(--box_shadow);
}
.content {
    transition: max-height 0.2s ease-out; 
    overflow: hidden; 
    max-height: 0;
}
.custom-btn{
    background-color: var(--dark1);
    border-radius: 25px;
}
.custom-btn:hover {
    background-color: var(--dark2);
}


/* Contact Me Page */
#submit-btn{
    background-color: var(--dark1);
    border-radius: 10px;
}
#submit-btn:hover {
    background-color: var(--dark2);
}
#submit-icon{
    color: var(--light); 
}

/* Resume Page */
#resume-page {
    margin: 50px 25px; 
}

/* Footer Section */
.custom-footer {
    background: var(--blush);
}
.custom-link i{
    font-size: 2em;
    padding: 10px; 
    margin-top: 20px;
    color: var(--dark1); 
}
.custom-link i:hover {
    color: var(--dark2); 
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    .card-content-header h3, .card-content-header i {
        font-size: 1em;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
        opacity: 1;
      }
  }

  @keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
        opacity: 1;
      }
  }
